.image-description {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding: 0 30px 0 20px;
}

.image-description .title {
  font-family: Switzer-Regular !important;
  font-size: 66px;
  font-weight: 700;
  line-height: 60px;
  font-style: normal;
  text-align: left;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 56px;
}

.image-description .image-description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
  position: relative;
  padding: 0 0 0 80px;
}

.image-description .image-description-wrapper .image-model{
  width: 60%;
}

.image-description .image-description-wrapper .path-image {
  position: absolute;
  top: -25px;
  left: 0;
  max-width: 376px;
  width: 22%;
}

.image-description .image-description-wrapper .main-image {
  width: 100%;
  height: auto;
}

.image-description .image-description-wrapper .description {
  font-family: Gambarino-Regular !important;
  font-size: 15px;
  text-align: left;
  color: #000000;
  width: 40%;
  margin: 0;
  max-width: 467px;
}

@media (max-width:950px){
  .image-description .image-description-wrapper{
    flex-direction: column;
    padding: 0 0 0 30px;
  }

  .image-description .image-description-wrapper .image-model{
    width: 100%;
  }

  .image-description .image-description-wrapper .description{
    width: 100%;
    max-width: unset;
  }
}

@media (max-width:767px) {
  .image-desciption {
    padding: 0;
  }
  .image-description .image-description-wrapper{
    flex-direction: column;
    padding: 0;
  }
  .image-description .title{
    margin-bottom: 26px;
    font-size: 36px;
  }
}
